[Unit]
Description=MongoDB Server

[Service]
User=mongodb
Group=mongodb
LimitNOFILE=20000
Environment="OPTIONS=-f /etc/mongodb.conf"
ExecStartPre=/bin/mkdir -p /var/log/mongodb
ExecStartPre=/bin/mkdir -p /var/lib/mongodb
ExecStart=/usr/bin/mongod $OPTIONS run
PIDFile=/var/run/mongodb/mongod.pid

[Install]
WantedBy=multi-user.target
